<div class="emailtemplate">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <div class="modal-header">
        <h3>Preview Email Template</h3>
      </div>
    </div>
  </div>
  <div class="row">
    <article class="col-sm-12 col-md-12 col-lg-12">
      <div class="good">
        <div class="row">
          <div class="col-sm-4 col-md-4 col-lg-4">
            <label for="" id="labelcenter">Identifier</label>
          </div>
          <div class="col-sm-4 col-md-4 col-lg-4">
            <label for="" id="labelcenter">Position ID</label>
          </div>
          <div class="col-sm-4 col-md-4 col-lg-4">
            <label for="" id="labelcenter">Recruiter</label>
          </div>
        </div>
      </div>

      <div class="good">
        <div class="row">
          <div class="col-sm-4 col-md-4 col-lg-4">
            <input id="c" type="text" ng-model="selectIdentifier">
          </div>
          <div class="col-sm-4 col-md-4 col-lg-4">
            <input id="c" type="text" ng-model="selectPositionId">
          </div>
          <div class="col-sm-4 col-md-4 col-lg-4" >
            <input id="c" type="text" ng-model="selectRecruiterName">
          </div>
        </div>
      </div>

      <div>
        <div>
          <label id="labelcenter2" for="">Subject Line</label>
        </div>
        <div>
          <input id="d" type="text"
            value="Looking for a job change? Apply now for Business System Analyst - BNSJP00029285" disabled>
        </div>
      </div>
    </article>
  </div>

  <div class="row" id="jd">
    <article class="col-sm-12 col-md-12 col-lg-12">
      <div class="good">
        <p>I work for ProViso Consulting, a premier staffing organization. I’m currently hiring for our client who is a
          reputed major bank and the job details are given below. If you’d like to be presented, please send me a copy
          of your updated resume along with the filled submission details grid.

          Position Title: Business System Analyst - BNSJP00029285
          Job Type: Contract
          Duration: Asap to End of fiscal year + Extension
          Location: Scarborough - Hybrid, candidate would need to visit the office 1-2 times monthly
          Scheduled Hours: 9am-5pm Monday-Friday; standard 37.5 hrs/week

          Job Details:
          Story Behind the Need:
          • Additional support needed on a large data integration project. As the project moves into the next phase this
          team is looking to add additional help in this process completed.
          • Project: End to end project regarding wire mapping and data integration mapping, international wire
          processing. This individual will be utilizing Visio for architectural technical drawings and assisting in data
          mapping
          • Candidate Value Proposition: The successful candidate will not only have the opportunity to gain valuable
          experience at a top 5 Canadian bank, but also get exposure to some of the bank’s top of the line technology
          solutions.

          Typical Day in the Role:
          • Conducting process and system diagram mapping
          • Understand how the Bank’s risk appetite and risk culture should be considered in day-to-day activities and
          decisions by conducting Risk Assessments
          • Identifying areas of improvement within the bank’s internal processes
          • Utilizing Confluence and Jira to track project progress and share information with the team at large
          • Utilize Visio to create architectural technical drawings
          • Responsible for communicating progress on weekly reporting meetings

          Must Have Skills:
          • 2-3 years’ experience of previous IT Business Analyst experience
          • experience with Data/Process Mapping
          • Experienced in Data Analysis
          • Experience with PowerBI and data visualization
          • Prior experience with Confluence, Jira and Visio
          • Strong working knowledge of Excel

          Nice to Have Skills:
          • Previous experience working with a Financial Institute an asset

          Soft Skills:
          • Strong communication skills are needed for this role (Written/Verbal)
          • Ability to work in a Team environment

          Education:
          • Post Secondary education in a related field or equivalent work experience
          • Interview Process: potential 2 rounds of video interviews
          • 1st round – HM + Assistant Manager – 45 mins – MS Teams Video
          • 2nd round – HM + Director – 45 mins – MS Teams Video

        </p>


      </div>
    </article>
  </div>
</div>